@import "primeicons/primeicons.css";

#taulaErabiltzaileak {
  display: flex;
  justify-content: center;
  font-family: Arial, Helvetica, sans-serif;
  align-items: center;
  padding: 20px;
}

p-table {
  width: 100%;
  max-width: 1200px;
  border: 1px solid #ddd;
  border-radius: 3px;
}
p-table th {
  border-bottom: 1px solid #ddd;
}

p-table td {
  border-bottom: 1px solid #ddd;
}

