<p-megamenu
  [style]="{
    'border-radius': '3rem',
    display: 'flex',
    background: 'linear-gradient(135deg, #6e8efb, #a777e3)',
    border: '1px solid white'
  }"
  class="w-full"
>
  <ng-template #start>
    <p-image
      src="img/logo.png"
      alt="logo"
      width="130"
      height="50"
      [style]="{ cursor: 'pointer' }"
      (click)="homeBueltatu()"
    ></p-image>
    <button
      pButton
      [label]="'HOME' | translate"
      icon="pi pi-fw pi-home"
      class="p-button-danger text-lg"
      [style]="{
          'background': isHovered2 ? 'rgba(255, 255, 255, 0.2)' : 'transparent',
          'border': '0px',
          'color': 'white',
          'font-size': '16px',
          'transition': 'background 0.3s ease',
      }"
      (mouseenter)="isHovered2 = true"
      (mouseleave)="isHovered2 = false"
      (click)="homeBueltatu()"
    ></button>
    <button
      pButton
      [label]="'MEETINGS' | translate"
      icon="pi pi-fw pi-calendar"
      class="p-button-danger text-lg"
      [style]="{
      'background': isHovered3 ? 'rgba(255, 255, 255, 0.2)' : 'transparent',
      'border': '0px',
      'color': 'white',
      'font-size': '16px',
      'transition': 'background 0.3s ease',
  }"
      (mouseenter)="isHovered3 = true"
      (mouseleave)="isHovered3 = false"
      (click)="bilerakIkusi()"
    ></button>
    <button
      pButton
      *ngIf="userLogged.tipo_id == 3 || userLogged.tipo_id == 4"
      [label]="'SCHEDULE' | translate"
      icon="pi pi-fw pi-calendar"
      class="p-button-danger text-lg"
      [style]="{
      'background': isHovered4 ? 'rgba(255, 255, 255, 0.2)' : 'transparent',
      'border': '0px',
      'color': 'white',
      'font-size': '16px',
      'transition': 'background 0.3s ease',
  }"
      (mouseenter)="isHovered4 = true"
      (mouseleave)="isHovered4 = false"
      (click)="ordutegiaIkusi()"
    ></button>
    <button
      pButton
      *ngIf="userLogged.tipo_id == 3"
      [label]="'VIEW' | translate"
      icon="pi pi-fw pi-user"
      class="p-button-danger text-lg"
      [style]="{
      'background': isHovered5 ? 'rgba(255, 255, 255, 0.2)' : 'transparent',
      'border': '0px',
      'color': 'white',
      'font-size': '16px',
      'transition': 'background 0.3s ease',
  }"
      (mouseenter)="isHovered5 = true"
      (mouseleave)="isHovered5 = false"
      (click)="ikasleakIkusi()"
    ></button>
  </ng-template>
  <ng-template #end>
    <button
      pButton
      [label]="'LOGOUT' | translate"
      icon="pi pi-fw pi-sign-out"
      class="p-button-danger text-lg"
      [style]="{
            'background': isHovered ? 'rgba(255, 255, 255, 0.2)' : 'transparent',
            'border': '0px',
            'color': 'white',
            'font-size': '16px',
            'transition': 'background 0.3s ease',
        }"
      (mouseenter)="isHovered = true"
      (mouseleave)="isHovered = false"
      (click)="logout()"
    ></button>
  </ng-template>
</p-megamenu>
<div class="switch-hizkuntza">
  <app-switch-hizkuntza></app-switch-hizkuntza>
  <div *ngIf="userLogged.tipo_id == 1 || userLogged.tipo_id == 2">
    <h2>{{ "StudentsAmount" | translate }} {{ ikasleKop }}</h2>
    <h2>{{ "TeachersAmount" | translate }} {{ irakasleKop }}</h2>
    <div *ngIf="bilerak && bilerak.length > 0">
      <h2>{{ "TodayMeetingAmmount" | translate }} {{ bilerak.length }}</h2>
    </div>
    <div *ngIf="bilerak && bilerak.length === 0">
      <h2>{{ "NoMeetingToday" | translate }}</h2>
    </div>
  </div>
</div>
