<p-megamenu [style]="{ 'border-radius': '3rem', display: 'flex', background: 'linear-gradient(135deg, #6e8efb, #a777e3)', 'border': '1px solid white' }" class="w-full">
    <ng-template #start>
        <a href="/home"><p-image src="img/logo.png" alt="logo" width="130" height="50" [style]="{'cursor': 'pointer'}"></p-image></a>
        <button
        pButton
        label="HOME"
        icon="pi pi-fw pi-home"
        class="p-button-danger text-lg"
        [style]="{
            'background': isHovered2 ? 'rgba(255, 255, 255, 0.2)' : 'transparent',
            'border': '0px',
            'color': 'white',
            'font-size': '16px',
            'transition': 'background 0.3s ease',
        }"
        (mouseenter)="isHovered2 = true"
        (mouseleave)="isHovered2 = false">
    </button>
    </ng-template>
    <ng-template #end>
        <button
        pButton
        label="LOGOUT"
        icon="pi pi-fw pi-sign-out"
        class="p-button-danger text-lg"
        [style]="{
            'background': isHovered ? 'rgba(255, 255, 255, 0.2)' : 'transparent',
            'border': '0px',
            'color': 'white',
            'font-size': '16px',
            'transition': 'background 0.3s ease',
        }"
        (mouseenter)="isHovered = true"
        (mouseleave)="isHovered = false"
        (click)="logout()">
    </button>
        </ng-template>
</p-megamenu>
<div class="switch-hizkuntza">
    <app-switch-hizkuntza></app-switch-hizkuntza>
  </div>
