@import "primeicons/primeicons.css";

* {
  font-family: Arial;
  font-size: 20px;
  margin-right: 10px;
}


.switch-hizkuntza {
	position: absolute;
	font-family: 'Arial', sans-serif;
	top: 6rem;
	right: 1rem;
  }
