<div
  style="
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
  "
>
  <p-table
    *ngIf="reuniones.length > 0"
    [value]="reuniones"
    [tableStyle]="{
      width: '100%',
      height: '500px',
      textAlign: 'center',
      zIndex: '-1'
    }"
    showGridlines
  >
    <ng-template pTemplate="header">
      <tr>
        <th>{{'title' | translate}}</th>
        <th>{{'subject' | translate}}</th>
        <th>{{'status' | translate}}</th>
        <th>{{'classroom' | translate}}</th>
        <th>{{'date' | translate}}</th>
        <th>{{'details' | translate}}</th>
      </tr>
    </ng-template>

    <ng-template pTemplate="body" let-reunion>
      <tr>
        <td>{{ reunion.titulo }}</td>
        <td>{{ reunion.asunto }}</td>
        <td>{{ reunion.estado }}</td>
        <td>{{ reunion.aula }}</td>
        <td>{{ reunion.fecha | date : "short" }}</td>
        <td>
          <p-button
            [label]="'details' | translate"
            icon="pi pi-info-circle"
            [raised]="true"
            severity="info"
            (click)="ikusiXehetasunak(reunion)"
          ></p-button>
        </td>
      </tr>
    </ng-template>
  </p-table>

  <div *ngIf="reuniones.length == 0 && !errorMessage">
    <h1>{{'nomeeting' | translate}}</h1>
  </div>
</div>
