<div id="taulaErabiltzaileak">
    <p-table
        [value]="erabiltzaileak"
        [paginator]="true"
        [rows]="10"
        [first]="first"
        [showCurrentPageReport]="true"
        [tableStyle]="{ 'min-width': '50rem' }"
        currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
        (onPage)="pageChange($event)"
        [rowsPerPageOptions]="[10, 25, 50]"
    >
        <ng-template #header>
            <tr>
                <th>Username</th>
                <th>Nombre</th>
                <th>Apellidos</th>
                <th>DNI</th>
                <th>Tipo</th>
                <th>Argazkia</th>
                <th>Editar</th>
                <th *ngIf="erabiltzaileLogueatua.tipo_id != 1">Eliminar</th>
            </tr>
        </ng-template>
        <ng-template #body let-erabiltzaile>
            <tr>
                <td>{{ erabiltzaile.username }}</td>
                <td>{{ erabiltzaile.nombre }}</td>
                <td>{{ erabiltzaile.apellidos }}</td>
                <td>{{ erabiltzaile.dni }}</td>
                <td>{{ erabiltzaile.tipo_id }}</td>
                <td>
                    <p-avatar
                      [image]="erabiltzaile | argazki"
                      size="large"
                      shape="circle">
                    </p-avatar>
                  </td>

                <td><p-button label="Editatu" icon="pi pi-user-edit" [raised]="true" severity="help" /></td>
                <td *ngIf="erabiltzaileLogueatua.tipo_id != 1">
                    <p-button label="Ezabatu" *ngIf="erabiltzaile.tipo_id != 1" icon="pi pi-trash" [raised]="true" severity="danger" />
                </td>
            </tr>
        </ng-template>
        <ng-template #paginatorleft>
            <p-button type="button" icon="pi pi-user-plus" label="Gehitu" variant="outlined"></p-button>
        </ng-template>
    </p-table>
</div>
