<app-megamenu></app-megamenu>
<h1>{{ "user-details" | translate }}</h1>
<div class="user-details-container">
  <div class="user-info">
    <h2 class="user-name">
     {{ reunion.titulo }}
    </h2>
    <h3>
        {{reunion.asunto}}
    </h3>
    <ul class="user-details-list">
      <li>
        <i class="pi pi-user"></i> <strong>{{ "Ikaslea" | translate }}:</strong>
        : {{ ikasle }}
      </li>
      <li>
        <i class="pi pi-user"></i> <strong>{{ "Irakaslea" | translate }}:</strong>
        : {{ irakasle }}
      </li>
    </ul>

    <div class="user-actions">
      <p-button
        [label]="'back-to-table' | translate"
        icon="pi pi-arrow-left"
        [styleClass]="'p-button-secondary'"
        (onClick)="atzera()"
      ></p-button>
    </div>
  </div>
</div>

<div id="mapa"></div>